<ion-view title="Tracks">
    <ion-content padding="false" class="has-header" content-footer-spacer>
        <div class="center" ng-show="vm.loading">
            <ion-spinner icon="lines"></ion-spinner>
        </div>
        <retry-loading retry-callback="vm.loadData()" ng-if="vm.failedToLoad"></retry-loading>
        
        <div ng-if="vm.tracks.length > 0">
            <div class="tracks-list-header">
                <div class="tracks-list-header-main">
                    {{vm.albumName}} <br />
                    {{vm.tracks.length}} tracks
                </div>
                <button class="button-round tracks-list-header-actions" ng-click="vm.playAll()" angular-ripple><i class="icon ion-play"></i></button>
            </div>
            
            <div class="list">
                <ion-item collection-repeat="track in vm.tracks" 
                        ng-click="vm.playTrack(track)" ng-class="{assertive: track.id === vm.currentlyPlayingTrack.id}">
                    <div class="tracks-list-title">{{track.id3_title}}</div>
                    <div class="tracks-list-artist">{{track.id3_artist}}</div>
                    <div class="tracks-list-duration">{{track.id3_playtime_sec | duration}}</div>
                </ion-item>
            </div>
        </div>

        <div class="padded-container"  ng-if="!vm.loading && !vm.failedToLoad && vm.tracks.length==0">
            <p div class="center">No Tracks found 😞</p>
        </div>
    </ion-content>
</ion-view>